---
import awards from "#assets/data/awards.json";
import education from "#assets/data/education.json";
import memberships from "#assets/data/memberships.json";

import aboutImg from "#assets/about-image.jpg";
import gemologicalEducationImg from "#assets/gemological-education.jpg";
import subSectionImg02 from "#assets/sub-section-image-02.jpg";

import Column from "#components/modules/Column.astro";
import LineItems from "#components/modules/LineItems.astro";
import Section from "#components/modules/Section.astro";
import SectionHeader from "#components/modules/SectionHeader.astro";
import SubSection from "#components/modules/SubSection.astro";
import TextBlock from "#components/modules/TextBlock.astro";
import Headline from "#components/modules/Headline.astro";
import SubSectionHeadline from "#components/modules/SubSectionHeadline.astro";
import LineItem from "#components/modules/LineItem.astro";
import PointContainer from "#components/modules/PointContainer.astro";
import PointStart from "#components/modules/PointStart.astro";
import PointEnd from "#components/modules/PointEnd.astro";
---

<Section id="about-the-appraiser" data-intersect>
  <SectionHeader id="about-the-appraiser-header">
    <Column class="column--contain">
      <img
        src={aboutImg.src}
        alt="Melanie Krummel"
        id="about-the-appraiser-image"
      />
      <PointEnd direction="right" id="gemological-point" />
    </Column>
    <Column class="column--stretch">
      <TextBlock>
        <Headline
          headingId="about-the-appraiser-heading"
          supertitle="About Your Appraiser"
        >
          <Fragment slot="title">Melanie Krummel</Fragment>
          <Fragment slot="description">
            <p class="paragraph--large">
              I established Jewelry, Appraisals, Inc., with a vision to
              conveniently serve retail jewelry stores, law offices, insurance
              companies and private clientele with concise, efficiently prepared
              jewelry appraisals.
            </p>
            <p>
              My goal is to build strong and long lasting professional
              relationships through trust, dedication and consistently
              increasing my knowledge of the ever-changing jewelry industry.
            </p>
            <PointContainer Element="p">
              Over Twenty-five years of continuing education and training has
              developed Melanie Krummel's expertise in the complex areas of
              gemstone identification, including synthetic and natural stone
              separation, enhancements and treatments, as well as diamonds and
              colored stone grading, watches, pearls and antique and period
              jewelry.
              <PointStart
                Element="span"
                connects="gemological-education-point"
              />
            </PointContainer>
          </Fragment>
        </Headline>
      </TextBlock>
    </Column>
  </SectionHeader>
  <SubSection id="education-and-awards">
    <Column class="column--stretch" data-variant="stretch">
      <SubSectionHeadline
        pointId="gemological-education-point"
        title="Gemological Education"
      />
      <LineItems>
        {
          education.map(({ title, description }) => (
            <LineItem Element="li">
              <Fragment slot="title">{title}</Fragment>
              <Fragment slot="description">
                <p>{description}</p>
              </Fragment>
            </LineItem>
          ))
        }
      </LineItems>
      <br />
      <SubSectionHeadline title="Major Awards" />
      <LineItems>
        {
          awards.map(({ title, description }) => (
            <LineItem Element="li">
              <Fragment slot="title">{title}</Fragment>
              <Fragment slot="description">
                <p>{description}</p>
              </Fragment>
            </LineItem>
          ))
        }
      </LineItems>
    </Column>
    <PointContainer id="appraisal-types-image">
      <img
        src={gemologicalEducationImg.src}
        alt="Appraisal Types"
        class="sub-section:image"
      />
      <PointStart connects="professional-memberships-heading-point" />
    </PointContainer>
  </SubSection>
  <SubSection id="your-appraisal-section">
    <Column>
      <img
        src={subSectionImg02.src}
        alt="Appraisal Types"
        class="sub-section:image"
      />
    </Column>
    <Column>
      <SubSectionHeadline
        title="Professional Memberships"
        pointId="professional-memberships-heading-point"
        id="professional-memberships-heading"
      />
      <LineItems>
        {
          memberships.map(({ title, description }) => (
            <LineItem Element="li">
              <Fragment slot="title">{title}</Fragment>
              {description && (
                <Fragment slot="description">description</Fragment>
              )}
            </LineItem>
          ))
        }
      </LineItems>
    </Column>
  </SubSection>
</Section>
