---
import sectionImg from "#assets/section-images.jpg";
import subSectionImgOne from "#assets/sub-section-image-01.jpg";
import subSectionImgTwo from "#assets/sub-section-image-02.jpg";

import appraisalTypes from "#assets/data/appraisal.types.json";
import services from "#assets/data/services.json";

import List from "#components/primitives/List.astro";

import Column from "#components/modules/Column.astro";
import Headline from "#components/modules/Headline.astro";
import LineItem from "#components/modules/LineItem.astro";
import LineItems from "#components/modules/LineItems.astro";
import PointContainer from "#components/modules/PointContainer.astro";
import PointEnd from "#components/modules/PointEnd.astro";
import PointStart from "#components/modules/PointStart.astro";
import Section from "#components/modules/Section.astro";
import SectionHeader from "#components/modules/SectionHeader.astro";
import SubSection from "#components/modules/SubSection.astro";
import SubSectionHeadline from "#components/modules/SubSectionHeadline.astro";
import TextBlock from "#components/modules/TextBlock.astro";

const YOUR_APPRAISAL_POINT_ID = "your-appraisal-heading-point";
---

<Section id="gemological-services" data-intersect>
  <SectionHeader id="gemological-services-section">
    <Column class="column--contain">
      <img
        src={sectionImg.src}
        alt="Gemological Services"
        id="gemological-services-image"
      />
      <PointEnd id="gemological-services-point" direction="top" />
    </Column>
    <Column class="column--stretch">
      <TextBlock>
        <Headline headingId="gemological-services-heading">
          <Fragment slot="title">Gemological Services Offered</Fragment>
          <Fragment slot="description">
            <PointContainer Element="p">
              Whether you are looking for a written appraisal document or an
              estate jewelry consultant, this process can be done while you
              watch in my office or yours, the privacy of your home or bank and
              at a conveniently located jewelry partner near you.
              <PointStart connects="appraisal-types-heading-point" />
            </PointContainer>
          </Fragment>
        </Headline>
      </TextBlock>
    </Column>
  </SectionHeader>
  <SubSection id="appraisal-types-section">
    <Column>
      <SubSectionHeadline
        title="Appraisal Types"
        pointId="appraisal-types-heading-point"
        id="appraisal-types-heading"
      />
      <LineItems>
        {
          appraisalTypes.map(({ title, description }) => (
            <LineItem Element="li">
              <Fragment slot="title">{title}</Fragment>
              <Fragment slot="description">
                <p>{description}</p>
              </Fragment>
            </LineItem>
          ))
        }
      </LineItems>
    </Column>
    <div id="appraisal-types-image">
      <PointContainer>
        <img src={subSectionImgOne.src} alt="Appraisal Types" />
        <PointStart
          connects={YOUR_APPRAISAL_POINT_ID}
          id="appraisal-types-to-your-appraisal-point"
        />
      </PointContainer>
    </div>
  </SubSection>
</Section>
<SubSection id="your-appraisal-section">
  <div>
    <img src={subSectionImgTwo.src} alt="Appraisal Types" />
  </div>
  <Column>
    <SubSectionHeadline
      title="Your Appraisal"
      id="your-appraisal-heading"
      pointId={YOUR_APPRAISAL_POINT_ID}
    />
    <p>
      In addition to superior customer service, you will receive an accurate and
      thorough analysis of each piece of jewelry, which includes:
    </p>
    <List class="list--vertical list--styled">
      {services.map((service) => <li>{service}</li>)}
    </List>
  </Column>
</SubSection>
